<!--<p>
  forgotpassword works!
</p>-->
<div class="container-fluid">
  <div class="container-edit">
    <form [formGroup] = "forgotForm">
  <div *ngIf="!showResetPassword">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" formControlName = "email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <button class="btn btn-default btn-block btn-edit" (click) = "forgot()">Forgot Password</button>
      </div>
      <div *ngIf="showResetPassword">
      <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" formControlName = "password" class="form-control" id="pwd" placeholder="Password" name="password">
      </div>
      <div class="form-group">
        <label for="cpwd">Confirm Password</label>
        <input type="password" formControlName = "confirmPassword" class="form-control" id="cpwd" placeholder="Password" name="password">
      </div>
      <div *ngIf = "showConfirmPassword">Password doesnot match</div>
      <button class="btn btn-default btn-block btn-edit" (click) = "reset()">Reset</button>
      </div>
    </form>
  </div>
</div>
